  html,body {
    background-color: #ddd;
    height: 100%;
    padding-bottom: 365px;
    text-align: center;
  }
  
  ul {
    display: inline-block;
    margin-left: -38px;
  }
  
  header {
    background-image: url("bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
  }
  
  #logo {
    padding: 200px 0;
    text-align: center;
  }
  
  #logo img {
    max-width: 120px;
    border: 5px solid #fff;
    border-radius: 100%;
  }
  
  #logo h1, h2 {
    letter-spacing: 0.15em;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
  }
  
  #wrap {
    min-height: 100%;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -82px 0;
    /* Pad bottom by footer height */
    padding: 0 0 80px 0;
  }
  
  /* Set the fixed height of the footer here */
  #footer {
    height: 80px;
    background-color: #f5f5f5;
  }
  
  
  #wrap > .center-container {
    padding: 50px 0 0 0;
    margin:0;
  }
  
  #footer > .container {
    padding-top:5px
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .center-container {
    height:100%;
    display: table;
    width:100%;
    margin:0;
  }
  
  
  
  .center-row {
    height:50%;
    width:100%;
    display: table-row;
  }
    
  .center-row > div {
    height:100%;
    width:50%;
    display: table-cell;
    border:0 solid #eee;
    color:#fff;
    vertical-align:middle;
  }
  
  .bg-one {
    background:#efefef url('kochia.jpg');
    padding: 150px 0;
  }
  .bg-two {
    background:#efefef url('ktsb.jpg');
    padding: 150px 0;
  }
  .bg-three {
    background:#efefef url('coconut oil.jpg');
    background-position: center center;
    background-size: cover;
    padding: 150px 0;
  }
  .bg-four {
    background:#efefef url('kendo.jpg');
    background-position: center center;
    background-size: cover;
    padding: 150px 0;
  }
  
  